<div class="friends-grid">
  <div>
  <h2 class="grid-title">Find new Friends</h2>
    <div class="grid-container">
      <div class="grid-item">
        <div class="card-info-banner"></div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item">
          <div class="card-info-banner"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center-btn">
  <a class="more-btn">More Friends<a>
</div>
