<h3>Book friend</h3>
<%= simple_form_for [@friend, @booking] do |f| %>
  <%= f.input :comment, placeholder: 'insert text' %>
  <%= f.input :start_date, as: :date, placeholder: 'date' %>
  <%= f.input :end_date, as: :date, placeholder: 'date' %>
<% end %>
