<%# <!-- BANNER START -->
<div class="banner-container">
  <div class="banner" style="video: url(https://res.cloudinary.com/djr22sgp3/video/upload/v1677786988/friends-33582_qwtmmn.mp4);">
    <div class="text-banner-container">
      <h1>Discover the power of <strong>human connection</strong>,</h1>
      <p>Join our community and start building lifelong friendships today!</p>
      <%= button_to "Join Now!", new_user_registration_path, :class => "join-btn", :method => :get %>
    <%# </div>
  </div>
</div> %>
<!-- BANNER END -->


<div class="banner-container">
  <div class="banner">
    <div class="banner-video">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/djr22sgp3/video/upload/v1677786988/friends-33582_qwtmmn.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="text-banner-container">
      <h1>Discover the power of <strong>human connection</strong>,</h1>
      <p>Join our community and start building lifelong friendships today!</p>
      <%= button_to "Find Friends →", new_user_registration_path, :class => "join-btn", :method => :get %>
    </div>
  </div>
</div>
