<!-- BANNER START -->
      <div class="banner-container">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
          <div class="text-banner-container">
            <h1>Discover the power of <strong>human connection</strong>,</h1>
            <p>Join our community and start building lifelong friendships today!</p>
            <a class="join-btn" href="/users/sign_up">Join Now!</a>
            <%# <%= button_to "Join Now!", new_user_registration,
      :class => "join-btn", :method => :get %> %>
          </div>
        </div>
      </div>
<!-- BANNER END -->