<%= render "banner" %>

<div class="testimonal">
  <figure class="snip1157">
    <blockquote>Friendify is amazing - I've made so many new friends with similar interests and hobbies. The community is incredibly supportive, and I feel like I've found my tribe. I can't recommend it enough!
      <div class="arrow"></div>
    </blockquote>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg" alt="sq-sample3" />
    <div class="author">
      <h5>Barracuda Mike<br><span>- 6 months</span></h5>
    </div>
  </figure>
  <figure class="snip1157 hover">
    <blockquote>Before Friendify, I was feeling pretty lonely. But now I have a whole community of friends at my fingertips. I love how easy the app is to use, and how it helps me connect with like-minded people.
      <div class="arrow"></div>
    </blockquote>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample27" />
    <div class="author">
      <h5>Santiago Mr Worldwide<br><span>- 2 months</span></h5>
    </div>
  </figure>
  <figure class="snip1157">
    <blockquote>Friendify has been a game-changer for me. I've met amazing people from all walks of life, and I've been able to build real, authentic friendships. It's the perfect app for anyone.
      <div class="arrow"></div>
    </blockquote>
    <img src="https://res.cloudinary.com/djr22sgp3/image/upload/v1677517298/Boris_Johnson_official_portrait__cropped_16.09.10_hkfyil.png" alt="sq-sample17" />
    <div class="author">
      <h5>Boris Borison<br><span>- 1 year</span></h5>
    </div>
  </figure>
</div>
