// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "session";

html {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

body {
  background-color: #e0e0e0;
}

@-webkit-keyframes background_gradient {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}
@-moz-keyframes background_gradient {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}
@keyframes background_gradient {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  // height: 15rem;
}

.banner-container {
  display: flex;
  justify-content: center;
}

// .banner {
//   margin-top: 6%;
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
//   width: 90%;
//   max-width: 90%;
//   border-radius: 2rem;
// }

.banner {
  position: relative;
}

.banner-video {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  position: relative;
}

.banner-video video {
  margin-top: 5%;
  width: 70%;
  border-radius: 2rem;
}

// .text-banner-container {
//   margin-left: 5%;
//   height: 15rem;
// }

.text-banner-container {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.join-btn {
  background-color: #EA443A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}
.join-btn:hover {
  cursor: pointer;
  background-color: #C62E33 !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-top: 20px !important;
}

.btn {
  background-color: #EA443A;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


.user-homepage {
  margin-top: 5%;
  background-color: #EA443A;
  height: 30rem;
  width: 70%;
  border-radius: 2rem;
}

.user-homepage h2 {
  font-family: "Helvetica", sans-serif !important;
  font-weight: 600;
}

// --------------------- Home Page ---------------------

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.testimonal {
  margin-top: -2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

figure.snip1157 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}


// ---------------------- EDIT PROFILE PAGE -----------------------

.profile-edit-picture-master {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-edit-picture {
  margin-top: 5%;
  width: 20%;
  border-radius: 50%;
}

// -------------------- GRID STYLE -----------------------

.back-btn-flex {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

.back-btn {
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  margin-top: 2.25%;
  position: absolute;
  width: 25%;
}

.back-btn:hover {
  cursor: pointer;
  color: #EA443A;
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}

.add-btn-flex {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

.add-btn {
  font-size: 1.8rem;
  border: none;
  background-color: #EA443A;
  color: #e0e0e0;
  font-weight: 900;
  margin-top: 2.25%;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
}

.add-btn:hover::before {
  content: attr(title);
  position: absolute;
  top: 15%;
  left: 260%;
  transform: translateX(-50%);
  padding: 0.5em;
  background-color: #EA443A;
  color: #fff;
  font-size: 0.5em;
  border-radius: 1rem;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.6s ease-in-out;
}

.add-btn:hover {
  cursor: pointer;
  background-color: #c6352d;
  color: #ffffff;
  scale: 1.1;
  transition: all 0.6s ease-in-out;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  border-radius: 20px;
  overflow: hidden;
  padding: 1rem;
}

.grid-title {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-weight: 600;
}

.grid-item {
  // background-image: url("https://res.cloudinary.com/djr22sgp3/image/upload/v1677596838/lachlan-dempsey-6VPEOdpFNAs-unsplash_p6fxn1.jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 12rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  min-width: 15.5rem;
}

.grid-item:hover {
  cursor: pointer;
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}

.friends-grid {
  display: flex;
  justify-content: center;
}

.card-info-banner {
  background-color: #EA443A;
  height: 4rem;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: -11rem;
  position: relative;
}

.more-btn {
  background-color: #EA443A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
  margin-top: 2rem;
}
.more-btn:hover {
  cursor: pointer;
  background-color: #C62E33 !important;
  color: white !important;
  margin-top: 2rem;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.friend-names {
  margin-top: 0.8rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 1rem;
}

.friend-location {
  margin-top: -1.2rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
}

.friend-avatar {
  margin-top: -13rem;
  margin-left: 70%;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.friend-price {
  margin-top: -4.9rem;
  margin-right: 0.9rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
}

.friend-price:hover {
  cursor: pointer;
  filter: brightness(1.2);
  scale: 1.02;
  transition: all 0.2s ease-in-out;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-p {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 520;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #EA443A;
  border-radius: 1rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text-decoration-none {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 520;
}

.text-decoration-none:hover {
  color: #ffffff;
  text-decoration: none;
}

.new-friend-container {
  display: flex;
  justify-content: center;
}

.new-friend {
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.new-title {
  margin-top: 4%;
  margin-bottom: 3%;
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {

  .testimonal {
    margin-top: -2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
  }

}


@media only screen and (max-width: 900px) {

  .logo-friendify {
    margin-left: -0.3rem;
  }

  .navbar-toggler {
    border: none;
    margin-right: -0.3rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.6rem;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem;
  }

  .grid-item {
    min-width: 70%;
  }

  .footer-p {
    width: 45%;
    font-size: 1.1rem;
  }

  .friend-price {
    margin-right: 0.5rem;
  }

  .friend-location {
    font-size: 0.9rem;
  }

  .back-btn {
    font-size: 1.2rem;
    margin-left: -1.5rem;
  }

  .add-btn {
    font-size: 1rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .text-banner-container {
    margin-top: 3%;
  }

  .text-banner-container h1 {
    font-size: 1.3rem;
  }

  .text-banner-container p {
    font-size: 0.9rem;
  }

  .join-btn {
    font-size: 0.6rem;
  }

  .friend-avatar {
    margin-top: -13rem;
    margin-left: 60%;
    background-color: #e0e0e0;
    border-radius: 50%;
  }

}

@media only screen and (max-width: 850px) {

  video {
    object-fit: cover;
    height: 28rem;
    width: auto;
    margin-bottom: 7%;
  }

  .text-banner-container {
    margin-top: 3%;
  }

  .text-banner-container h1 {
    font-size: 1.3rem;
  }

  .text-banner-container p {
    font-size: 0.9rem;
  }

  .join-btn {
    font-size: 0.6rem;
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6rem;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem;
  }

  .text-banner-container {
    margin-top: 3%;
    margin-left: -1rem;
  }

  .text-banner-container h1 {
    font-size: 1.2rem;
  }

  .text-banner-container p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 2000px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.6rem;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem;
  }
}
