.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.logo-friendify {
  max-width: 6rem;
  margin-left: 0.5rem;
  border-radius: 2rem;
}

.dropdown:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu {
  border-radius: 1rem;
  background-color: rgba(255,255,255,0.8);
  opacity: 0.9;
  border: none;
  margin-top: 1rem;
}

.nav-link:hover {
  color: #F2474D !important;
  font-weight: 500;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-item {
  cursor: pointer;
}

.navbar {
  margin-top: 3%;
  width: 75%;
  border-radius: 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
