div.container {
  justify-content: center;
  margin-left: 35%;
  padding: 0;
  border:0;
  width: 30%;
  height: 50%;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  border: 1px;
  padding: 8px 24px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter:blur(2.5px);
  background: rgba(255, 255, 255, 0.5);
}
h2, .h2{
 text-align: center;
 color: #EA443A;
}
